
  <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
                <a href="https://github.com/app-generator/boilerplate-code-flask">
                  Flask Boilerplate Code
                </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> - Coded by AppSeed.
        </div>
      </div>
  </footer>
 
